<% include partials/header%>
<div class="container jumbotron">
  <h1>Results of Your Search</h1>

  <p style="display:inline;">Medicine name: Panadol</p>
  <p style="display:inline;">Medicine Company: Pfizer</p>
  <p style="display:inline;">Medicine hex Code: 129674631602f7</p>
  <p>Retailer Name: Sitara Pharmacy G-9, Markaz</p>
  <p>Address: Shop 221, London Plaza G-9, Markaz, Islamabad</p>
  <button type="button" name="button"><a href="/med/report">Report if Something is Wrong</a></button>

</div>
