<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Edit Medcines</h4>
                            <p class="card-category">Add Medicines Details</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Batch No">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Generate Lex Code all Medicines</button>
                                
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Quantity" type="text">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Retail Info" type="text">
                                      </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right">submit</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
      
            </div>
        </div>
      </div>
      